* {
    margin: 0;
    padding: 0;
}

main, footer {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 246, 240);
}
a {
    text-decoration: none;
    color: #000;

}

/* HEADER ----------------------------------- */

header {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    top: 0px;
    position: fixed;
}
header h1 {
    font-size: 3rem;

}



/* --------------------------------------------------------- */
main {
    margin-top: 12dvh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}
main div {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
    background-color: #F4EAE0;
    border: 1px solid #F4DFC8;
}
main div img {
    width: auto;
    border-radius: 1rem;
    margin: 1em;
}
.product-text {
    border: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}
.product-text h2 {
    font-size: 2rem;
    color: #45474B;
}
.product-text h3 {
    font-size: 1.5rem;
    color: rgb(0, 228, 0);
}